.blogStyle {
    font-family:  Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
}

.blogStyle .blogList {
    display: grid;
    grid-template-columns: 60% 20% 20%;
}

.blogList .metadata{
    margin: auto 0
}

.blogList .tag {
    color: #be5de3;
    font-size: 1.6rem;
}

.blogList .date {
    color: #70bcff;
    font-size: 1.6rem;
    text-align: right;
}

.blogStyle .excerpt {
    background: #525959;
    padding: 0.4rem 1.6rem 0.2rem;
    border-radius: 0.8rem;
}

.blogStyle h1 {
    color: #4bf6d1;
    font-size: 7.4rem;
    font-weight: normal;
}

.blogStyle h3 {
    color: #9b9ff3;
    font-size: 2.4rem;
    font-weight: normal;
}

.blogStyle p, .blogStyle a {
    color: lavender;
    font-size: 1.6rem;
    text-decoration: none;
}

.blogStyle a:hover {
    text-decoration: none
}