.footerContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    --main-color: #5bbdf2;
    --main-hover-color: #a1deff;
    --main-font-size: 3.2rem;
    width: 40%;
    margin: 9.2rem auto 3.2rem auto;
}

.footerLink {
    font-size: var(--main-font-size);
    color: var(--main-color)
}

.footerLink a {
    color:  var(--main-color)
}

.footerLink a:hover {
    color: var(--main-hover-color)
}