.navbarContainer {
    display: grid;
    grid-template-columns: 15% 15% auto 10% 10% 10%;
    --main-color: #5bbdf2;
    --main-hover-color: #a1deff;
    --main-font-size: 2.4rem;
}

.navLink {
    font-size: var(--main-font-size);
    color: var(--main-color)
}

.navLink a {
    color:  var(--main-color)
}

.navLink a:hover {
    color: var(--main-hover-color)
}