.navbarContainer {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    --main-color: #5bbdf2;
    --main-hover-color: #a1deff;
    --main-font-size: 3.2rem;
}

.header {
    font-size: 5.6rem;
    color: yellowgreen;
}

.navLink {
    font-size: var(--main-font-size);
    color: var(--main-color);
    text-align: right;
    margin: auto 0 0;
}

.navLink a {
    color:  var(--main-color)
}

.navLink a:hover {
    color: var(--main-hover-color)
}